<!DOCTYPE html>
<html>
<head>
    <title>Acerca de</title>
    <style>
        body { font-family: Arial; text-align: center; margin-top: 50px; }
        .container { max-width: 600px; margin: 0 auto; }
        .version { color: #666; font-size: 0.9em; }
        a { text-decoration: none; color: #0066cc; }
    </style>
</head>
<body>
    <div class="container">
        <h1>Sobre esta aplicación</h1>
        <p>Esta app está hecha con Flask y Docker</p>
        <p class="version">Versión: {{ version }}</p>
        <p><a href="/">Volver al inicio papu:)</a></p>
    </div>
<footer>
     Created By TITZ-LOVERS ®    
</footer>
</body>
</html>
