<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestor Ansible</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Gestor de Automatización Ansible</h1>

        <form method="POST" action="/run">
            <label for="playbook">Selecciona un playbook:</label>
            <select name="playbook" id="playbook">
                <option value="hardening.yml">hardening.yml</option>
                <!-- Puedes agregar más opciones dinámicamente -->
            </select>

            <button type="submit">▶ Ejecutar</button>
        </form>

        {% if output %}
        <div class="output">
            <h2> Resultado:</h2>
            <pre>{{ output }}</pre>
        </div>
        {% endif %}
    </div>
</body>
<footer>
     Created By TITZ-LOVE ®
</footer>
</html>
